<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!--    define the dependency first -->
<!--    <bean id="carSpecification" class="org.example.Bean.constructor.Specifications">-->
<!--        <property name="model" value="corolla"/>-->
<!--        <property name="company" value="toyota"/>-->
<!--    </bean>-->

    <bean id="userDatabaseProvider" class="com.learnLooseCoupling.LooseCoupling.UserDatabaseProvider">
    </bean>
    <bean id="userDataManager" class="com.learnLooseCoupling.LooseCoupling.UserDataManager" >
        <constructor-arg ref="userDatabaseProvider"></constructor-arg>
    </bean>


</beans>